.container_todos_notes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.todosall_container_notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    position: relative;
    width: 950px;
    min-height: 500px;
    max-height: 500px;
    top: 30px;

    /* Темная тема/Карточка */

    background: #fff;
    /* Smooth shadow */

    box-shadow: 0px 5px 10px rgba(23, 37, 39, 0.293);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
    margin: 30px 0px;
    margin-right: 15px;
}

.todosall_container_notes h2 {
    color: #111111;
    position: relative;
    left: -350px;
}

.todo-notes {
    margin-top: 20px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 800px;
    border: 1px solid rgba(40, 40, 70, 0.1);
}

.todo-notes input {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.buttons-notes {
    background-color: #eee;
    border-radius: 10px;
}

.buttons-notes:hover {
    background-color: #d1d1d1;
    color: white;
    transition: all 0.4s ease;
}

@media only screen and (max-width: 500px) {

    .container_todos_notes {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 300px;
        max-width: 0px;
    }

    .todosall_container_notes {
        display: flex;
        position: relative;
        width: 350px;
        left: -50px;
    }

    .todosall_container_notes h2 {
        left: 0px;
    }
}

@media only screen and (max-width: 600px) {

    .container_todos_notes {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 300px;
        max-width: 0px;
    }

    .todosall_container_notes {
        display: flex;
        width: 350px;
        left: -50px;
    }

    .todosall_container_notes h2 {
        left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .container_todos_notes {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 300px;
        max-width: 0px;
    }

    .todosall_container_notes {
        display: flex;
        width: 350px;
        left: -50px;
    }

    .todosall_container_notes h2 {
        left: 0px;
    }
}