.dropdown-user {
  flex-direction: row;
  max-height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  cursor: pointer;
}

.drop-user {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
}

.dropdown-user i {
  font-size: 25px;
}

.dropdown-user h5 {
  font-size: 15px;
  font-weight: 500;
}

.dropdown-user li {
  position: relative;
}

.dropdown-user ul {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #181818;
  color: #fff;
  display: none;
  border-radius: 5px;
  left: 0;
  position: absolute;
  top: 100%;

  list-style-type: none;
  margin: 0;
  padding: 0;

  padding: 10px 15px;
  width: 100px;
}

.dropdown-user ul ul {
  padding: 10px 15px;
  left: 100%;
  position: absolute;
  top: 0;
}

.dropdown-user li:hover {
  color: #505050;
}

.dropdown-user li:hover > ul {
  display: block;
}

.link-user {
  text-decoration: none;
  color: #fff;
}

.link-user:hover {
  text-decoration: none;
  color: #505050;
}

@media only screen and (max-width: 500px) {
  .dropdown-user ul {
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
  .dropdown-user ul {
    position: absolute;
  }
}

@media only screen and (max-width: 768px) {
  .dropdown-user ul {
    position: absolute;
  }
}
